<body>
<script src="resources/eml_report_loadable_data.js"></script>
<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S2T1">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">longVelError</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S3T1">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">latPosError</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T1">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">latVelError</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T1">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">yawError</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T1">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">yawRateError</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T1">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">radius</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S8T2">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">track</a></td>
<td>Input</td><td class="watchsize" id="14">4 x 30177</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T3">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">states</a></td>
<td>Input</td><td class="watchsize" id="15">6 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S11T1">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">carX</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T1">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">velX</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S13T1">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">carY</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S14T1">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">velY</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S15T1">
<td id="blank"></td><td>13</td>
<td id=""><a href="#">yaw</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S16T1">
<td id="blank"></td><td>14</td>
<td id=""><a href="#">yawRate</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S17T5">
<td id="blank"></td><td>15</td>
<td id=""><a href="#">index</a></td>
<td>Global</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">uint16</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S18T5">
<td id="blank"></td><td>16</td>
<td id=""><a href="#">dataSize</a></td>
<td>Global</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">uint16</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S20T1">
<td id="blank"></td><td>17</td>
<td id=""><a href="#">pointDist</a></td>
<td>Global</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S23T1">
<td id="blank"></td><td>18</td>
<td id=""><a href="#">distInMillimeters</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S24T1">
<td id="blank"></td><td>19</td>
<td id=""><a href="#">stepSize</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S25T1">
<td id="blank"></td><td>20</td>
<td id=""><a href="#">refX</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S26T1">
<td id="blank"></td><td>21</td>
<td id=""><a href="#">refY</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S27T1">
<td id="blank"></td><td>22</td>
<td id=""><a href="#">lastDistToCar</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S28T1">
<td id="blank"></td><td>23</td>
<td id=""><a href="#">indicesToCheck</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S29T5">
<td id="blank"></td><td>24</td>
<td id=""><a href="#">closestIndex</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">uint16</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S30T5">
<td id="blank"></td><td>25</td>
<td id=""><a href="#">remainder</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">uint16</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S31T5">
<td id="blank"></td><td>26</td>
<td id=""><a href="#">i</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">uint16</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S32T1">
<td id="blank"></td><td>27</td>
<td id=""><a href="#">distToCar</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S34T1">
<td id="blank"></td><td>28</td>
<td id=""><a href="#">refYaw</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S35T5">
<td id="blank"></td><td>29</td>
<td id=""><a href="#">previousIndex</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">uint16</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S36T5">
<td id="blank"></td><td>30</td>
<td id=""><a href="#">nextIndex</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">uint16</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S37T1">
<td id="blank"></td><td>31</td>
<td id=""><a href="#">y1</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S38T1">
<td id="blank"></td><td>32</td>
<td id=""><a href="#">y2</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S39T1">
<td id="blank"></td><td>33</td>
<td id=""><a href="#">x1</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S40T1">
<td id="blank"></td><td>34</td>
<td id=""><a href="#">x2</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S42T1">
<td id="blank"></td><td>35</td>
<td id=""><a href="#">refYawRate</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
</body>
